<%- include("header.ejs", {title: "Admin-Customer Transaction"}) %>

<div class="container">
  <br><h1>Customer Transaction</h1>
  <br>
  <div class="btn-group">
    <a href="/customers" class="btn btn-primary">Customer</a>
    <a href="/products" class="btn btn-primary">Product</a>
  </div>
  <br><br>
  <% if (customers.length === 0) { %>
    <h2>Customer not found!</h2>
  <% } else { %>
    <table class="table">
      <THead>
        <tr>
          <th>No.</th>
          <th>ID</th>
          <th>Transaction Code</th>
          <th>Action</th>
        </tr>
      </THead>
      <Tbody>
      <% customers.forEach((el, i) => { %>
        <tr>
         <td><%= i+1 %></td>
         <td><%= el.id %></td>
         <td><%= el.name %></td>
         <td class="btn-group">
           <a href="/customers/transaction/<%= el.UserId %>/product/<%= el.id %>" class="btn btn-success">List Product</a>
         </td>
        </tr>
       <% }) %>
      </Tbody>
    </table>
  <% } %>


</div>
<%- include("footer.ejs") %>